@font-face {
  font-family: myFont;
  src: url(../media/font/FutuBk__.ttf);
}

*{
  padding: 0;
  margin: 0;
  border:0;
  font-family: myFont;
}
.top-to-bottom{
  border-left-width: 3px;
  border-left-style: solid;
  -webkit-border-image: 
  -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: 
  -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image:
  -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
  -o-border-image:
  -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
  border-image:
  linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}

.tb:hover{
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
  transition: all 0.4s;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset;

    &:hover,
    &:focus {
        box-shadow: 0 0 0 1000px white inset;
    }
}